.git
.github
.env
.env.*
!.env.example

node_modules
vendor
public/hot
public/hot.*
storage/app/qa
storage/app/integration

bootstrap/cache/*.php

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

docker-compose.yml
Dockerfile

npm-debug.log
